/* -------------------- GENERAL -------------------- */
html, body, div, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    background-color: white;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
}

body {
    --blue: #0068ED;
    --black: #000000;
    --grey: #848484;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Ensure content takes at least the full height of the viewport */
}

h1, h2, h6 {
    font-family: 'Avenir Next';
    font-weight: bold;
    font-style: normal;
    color: var(--blue);
}

h3, h4 {
    font-family: 'Avenir Next';
    font-weight: 500;
    font-style: normal;
    color: var(--black);
}

h5 {
    font-family: 'Avenir Next';
    font-weight: 600;
    font-style: normal;
    color: var(--black);
}

h2 { font-size: 35px; }
h3, h4 { font-size: 30px; }
h5 { font-size: 23px; }
h6 { font-size: 19px; }

p, a {
    font-family: 'Avenir Next';
    font-weight: normal;
    font-style: normal;
    color: var(--black);
}

header, .main-header, .about-me, .experience, #connect, .stats, .listening {
    width: 85%;
    max-width: 1200px; /* Limit content width for larger screens */
    margin: 0 auto; /* Center content horizontally */
    padding: 20px; /* Add padding around content */
}

/* -------------------- NAV BAR -------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Adjust margin for smaller devices */
}

.pages {
    display: flex;
    justify-content: space-between;
    width: 200px; /* Adjust width for smaller devices */
}

/* -------------------- SQUARES -------------------- */
.side-square {
    display: none; /* Hide squares on smaller devices */
}

/* -------------------- HEADER -------------------- */
.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text */
    height: 50vh;
}

/* -------------------- ABOUT ME -------------------- */
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text */
}

.me-pic {
    width: 200px; /* Adjust image size for smaller devices */
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.social {
    display: flex;
    justify-content: center; /* Center social icons horizontally */
    margin-top: 10px; /* Adjust margin */
}

.social img {
    width: 25px; /* Adjust size of social icons */
    height: auto;
}

/* -------------------- EXPERIENCE -------------------- */
.experience {
    text-align: center; /* Center text */
}

.row {
    flex-wrap: wrap; /* Allow cards to wrap on smaller devices */
}

.card img, .card-home img {
    width: 100%; /* Make images responsive */
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
    transition: transform .3s ease;
}

/* -------------------- CONNECT -------------------- */
#connect { margin: 20px auto; /* Adjust margin */ }

.connect-text { margin-top: 20px; /* Adjust margin */ }

/* -------------------- MEDIA QUERIES -------------------- */
/* Phone */
@media (max-width: 650px) {
    header { margin-top: 10px; /* Adjust margin */ }
    .pages { width: 200px; /* Adjust width */ }
    h1 { font-size: 28px; /* Adjust font size */ }
    .main-header { height: 40vh; /* Adjust height */ }
    .me-pic { width: 150px; /* Adjust image size */ }
    .social img { width: 20px; /* Adjust size of social icons */ }
    .experience, #connect, .stats { margin-top: 30px; /* Adjust margin */ }
}

/* Tablet - Landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .me-pic { width: 280px; /* Adjust image size */ }
    .card img, .card-home img, .card p { width: 200px; /* Adjust image and text size */ }
}
